@page "/"
@using Library_university_aspnet.Models
@using Library_university_aspnet.Services
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IBookService BookService
@inject NavigationManager NavigationManager

<PageTitle>Library</PageTitle>

<div class="position-relative iq-banner">
    <div class="iq-navbar-header" style="height: 215px;">
        <div class="container-fluid iq-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-wrap d-flex justify-content-between align-items-center">
                        <div>
                            <h1>Library</h1>
                        </div>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <div>
                                    <button class="btn btn-secondary" @onclick="@(() => CreateBook())">
                                        <span class="btn-inner">
                                            <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.3764 20.0279L18.1628 8.66544C18.6403 8.0527 18.8101 7.3443 18.6509 6.62299C18.513 5.96726 18.1097 5.34377 17.5049 4.87078L16.0299 3.69906C14.7459 2.67784 13.1541 2.78534 12.2415 3.95706L11.2546 5.23735C11.1273 5.39752 11.1591 5.63401 11.3183 5.76301C11.3183 5.76301 13.812 7.76246 13.8651 7.80546C14.0349 7.96671 14.1622 8.1817 14.1941 8.43969C14.2471 8.94493 13.8969 9.41792 13.377 9.48242C13.1329 9.51467 12.8994 9.43942 12.7297 9.29967L10.1086 7.21422C9.98126 7.11855 9.79025 7.13898 9.68413 7.26797L3.45514 15.3303C3.0519 15.8355 2.91395 16.4912 3.0519 17.1255L3.84777 20.5761C3.89021 20.7589 4.04939 20.8879 4.24039 20.8879L7.74222 20.8449C8.37891 20.8341 8.97316 20.5439 9.3764 20.0279ZM14.2797 18.9533H19.9898C20.5469 18.9533 21 19.4123 21 19.9766C21 20.5421 20.5469 21 19.9898 21H14.2797C13.7226 21 13.2695 20.5421 13.2695 19.9766C13.2695 19.4123 13.7226 18.9533 14.2797 18.9533Z" fill="currentColor"></path>                            </svg>
                                        </span>
                                        Create new book
                                    </button>
                                </div>
                            </Authorized>
                            <NotAuthorized>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        </div>
        <div class="iq-header-img">
            <img src="images/dashboard/top-header.png" alt="header"
                 class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
            <img src="images/dashboard/top-header1.png" alt="header"
                 class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
            <img src="images/dashboard/top-header2.png" alt="header"
                 class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
            <img src="images/dashboard/top-header3.png" alt="header"
                 class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
            <img src="images/dashboard/top-header4.png" alt="header"
                 class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
            <img src="images/dashboard/top-header5.png" alt="header"
                 class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
        </div>
    </div>
</div>

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Books List</h4>
                    </div>
                </div>
                <div class="card-body">
                    @if (books.Count == 0)
                    {
                        <p><em>Loading Books...</em></p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped" data-toggle="data-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Genre</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var book in books)
                                    {
                                        <tr>
                                            <td>@book.Title</td>
                                            <td>@book.Author.Name</td>
                                            <td>@book.Genre.Name</td>
                                            <td>
                                                <AuthorizeView Roles="Admin">
                                                    <Authorized>
                                                        <button class="btn btn-primary" @onclick="@(() => EditBook(book.BookId))">Edit</button>
                                                        <button class="btn btn-danger" @onclick="@(() => DeleteBook(book.BookId))">Delete</button>
                                                    </Authorized>
                                                    <NotAuthorized>
                                                        <p>You do not have the required role to perform this action.</p>
                                                    </NotAuthorized>
                                                </AuthorizeView>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    List<Book> books = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        books = await BookService.GetAllBooksAsync();
    }

    void EditBook(int id)
    {
        NavigationManager.NavigateTo($"/edit-book/{id}");
    }

    void CreateBook()
    {
        NavigationManager.NavigateTo($"/edit-book");
    }

    async Task DeleteBook(int id)
    {
        await BookService.DeleteBookAsync(id);
        books = await BookService.GetAllBooksAsync();
    }
}